@model Northwind.Models.ProductSearch

<div id="divResults">

	<h2>@ViewBag.SiteID</h2>
	@using (Html.CarrotWeb().BeginSimpleAjaxForm(new SimpleAjaxFormOptions() { FormId = "frm1", UpdateTargetId = "divResults" }, new { @action = "ProductSearch" }, null)) {
		<div class="form-group row mb-3">
			<div class="col-md-4">
				@Html.DropDownListFor(m => m.SelectedCat, new SelectList(Model.Options, "CategoryId", "CategoryName", Model.SelectedCat), "[select]", new { @class = "form-control form-select smtext" })
			</div>
			@Html.HiddenFor(m => m.AltViewName)
		</div>
		<div class="form-group row mb-3">
			<div class="col-md-2">
				<input type="submit" class="btn btn-info" value="Submit" />
			</div>
		</div>
	}
	<br />
	<div>
		@Html.Partial("Products", Model.Results)
	</div>
</div>